.header-logo
{
	background:#d9d9d9;
	display:inline-block;
	height:60px;
	line-height:60px;
	padding:0 54px;
	font-size: 18px;
	color: #222;
}
.header-search
{
	height:31px;
	flex-basis: 74.6%;
	position:relative;
}
.header-search input
{
	width:100%;
	height:100%;
	border-radius:23px;	
}
.header-search svg
{
	position: absolute;
	top:50%;
	right:15px;
	transform: translateY(-50%);
}
.sidebar-link
{

	height: 52px;
	line-height: 52px;
	background: #fafafa;
	display: block;
	padding-left: 15px;
	color: #222;
	font-size:18px;
	transition: .3s;
}
.sidebar
{
	flex-basis: 23.7%;
}
.sidebar-item
{
	margin-bottom: 2px;
}
.sidebar-link:hover 
{
	background: #222;
	color:white;
	transition: .3s;
}
.info
{
	display: flex;
	flex-basis: 74.6%;
	background: rgba(217, 217, 217, .3);
	padding: 20px;
}
.info-item:first-child
{
	flex-basis: 33.4%;
	margin-right:40px;
}
.info-item:last-child
{
	flex-basis: 60%;
}
.info-item-image
{
	display: flex;
	align-items:center;
	justify-content: center; 
	height:350px;
	background: rgba(217, 217, 217, .5);
	margin-bottom: 10px;	
}
.info-item-btm
{
	display: block;
	text-align: center;
	border-radius: 56px;
	height: 45px;
	line-height: 45px;
	font-size: 21px;

}
.info-item-btm1
{
	margin-bottom: 10px;
	background: #222;
	color: white;
}
.info-item-btm2
{
	background: #E9E9E9;
	color: #222;
}
.info-item-top
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.info-item-top h1
{
	font-size: 28px;
	font-weight: 600;

}
.info-item-top span
{
	color: #898989;
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
}
.info-item-list
{
	margin-bottom: 32px;
}
.info-item-list li
{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 150%;
	color:#222;
}
.name
{
	width:139px;
	margin-right: 39px;
}
.info-item-all
{
display:block;
text-align: center;
height: 47px;
line-height: 47px;
border: 1px solid #E6E6E6;
border-radius: 56px;
margin-bottom: 74px;
font-size:18px;
color:#686868;
}
.info-item-bot
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info-item-bot span
{
	display:block;
	text-align: center;
	font-size: 18px;
	line-height: 150%;
	color:rgba(34, 34, 34, .5);
}
.info-item-bot span:first-child
{
	font-size: 28px;
}